<%= form_for(@repair_request) do |f| %>
  <% if @repair_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@repair_request.errors.count, "error") %> prohibited this repair_request from being saved:</h2>

      <ul>
      <% @repair_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :open_date %><br />
    <%= f.date_select :open_date %>
  </div>
  <div class="field">
    <%= f.label :close_date %><br />
  <% if current_user && (current_user.has_role? :manager) %>
    <%= f.date_select :close_date %>
  <% end %>
  <% if current_user && (current_user.has_role? :renter) %>
    <%= f.date_select :close_date, :disabled => 'disabled' %>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :request_details %><br />
    <%= f.text_area :request_details %>
  </div>
  <div class="field">
    <%= f.label :request_response %><br />
  <% if current_user && (current_user.has_role? :manager) %>
    <%= f.text_field :request_response %>
  <% end %>
  <% if current_user && (current_user.has_role? :renter) %>
    <%= f.text_field :request_response, :disabled => 'disabled' %>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :submitter_id %><br />
  <% if current_user && (current_user.has_role? :manager) %>
  <%= f.collection_select :submitter_id, User.all.collect, :id, :username, :prompt => "Select a Renter"%>
  <% end %>
  <% if current_user && (current_user.has_role? :renter) %>
    <%= @repair_request.submitter.username %>
  <% end %>
  </div>
  <div class="field">
    <%= f.label :responder_id %><br />
    <% if current_user && (current_user.has_role? :manager) %>
  <%= f.collection_select :responder_id, User.all.collect, :id, :username, :prompt => "Select a Manager"%>
  <% end %>
  <% if current_user && (current_user.has_role? :renter) %>
    <%= @repair_request.responder.username %>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
