<%= form_for(@lease) do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= hidden_field_tag "properties_units", "test", :"data" => Hash[Property.all.map{|p| [p.id, p.units.map{|u| [u.id, u.name]}]}] %>
  
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :rent %><br />
    <%= f.number_field :rent %>
  </div>
  <div class="field">
    <label for="property_id">Property:</label><br />
    <%= select_tag "property_id", options_for_select(Property.all.collect{ |p| [p.name, p.id]}), :prompt => "Select a property" %>
  </div>
  <div id="unit_field" class="field">
    <label for="lease_unit_id">Unit:</label><br />
    <%= select_tag "lease[unit_id]" %>
  </div>
  <div class="field">
  <%= f.label :user_id %><br />
  <%= select_tag "lease[user_id]", options_for_select(User.all.collect{ |u| [u.username, u.id]}), :prompt => "Select a renter" %><br /><br />
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

