<h1>Lease Listings</h1>

<table>
  <tr>
    <% if can? :manage, Lease %>
      <th>Username</th>
    <% end %>
    <th>Start date</th>
    <th>End date</th>
    <th>Rent</th>
    <th>Unit</th>
    <th>Property</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @leases.each do |lease| %>
  <tr>
    <% if can? :manage, lease %>
      <td>
        <%= User.find(lease.user_id).username %>
      </td>
    <% end %>
    <td><%= lease.start_date %></td>
    <td><%= lease.end_date %></td>
    <td>$<%= lease.rent %></td>
    <td><%= lease.unit.try(:name) %></td>
    <td><%= lease.unit.try(:property).try(:name) %></td>
    <td>
      <% if can? :read, lease %>
        <%= link_to 'Show', lease %>
      <% end %>
    </td>
    <td>
      <% if can? :manage, lease %>
        <%= link_to 'Edit', edit_lease_path(lease) %>
      <% end %>
    </td>
    <td>
      <% if can? :manage, lease %>
        <%= link_to 'Destroy', lease, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
<% end %>
</table>
<br />
<% if can? :manage, Lease.new %>
  <%= link_to 'New Lease', new_lease_path %>
<% end %>