<p>
  <b>Username:</b>
  <%= User.find(@lease.user_id).username %>
</p>

<p>
  <b>Start date:</b>
  <%= @lease.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @lease.end_date %>
</p>

<p>
  <b>Rent:</b>
  <%= @lease.rent %>
</p>

<p>
  <b>Unit:</b>
  <%= @lease.unit.try(:name) %>
</p>

<p>
  <b>Property:</b>
  <%= @lease.unit.try(:property).try(:name) %>
</p>


<%= link_to 'Edit', edit_lease_path(@lease) %> |
<%= link_to 'Back', leases_path %>
