<h1>Listing units</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Square feet</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @units.each do |unit| %>
  <tr>
    <td><%= unit.name %></td>
    <td><%= unit.square_feet %></td>
    <td>
      <% if can? :read, unit %>
        <%= link_to 'Show', unit %>
      <% end %>
    </td>
    <td>
      <% if can? :manage, unit %>
        <%= link_to 'Edit', edit_unit_path(unit) %>
      <% end %>
    </td>
    <td>
      <% if can? :manage, unit %>
        <%= link_to 'Destroy', unit, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<br />
<% if can? :manage, unit %>
  <%= link_to 'New Unit', new_unit_path %>
<% end %>