<!DOCTYPE html>
<html>
  <head>
    <title>Property Manager</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>

  </head>
  <body>

    <!-- Begin Wrapper -->
    <div id="wrapper">

      <!-- Begin Header -->
      <div id="header">
        
        <h1> Michael's Properties</h1> 

      </div>
      <!-- End Header -->

      <!-- Begin Navigation -->
      <div id="nav">
        <div id="login">
          <% if current_user %>
            <%= link_to "Payments", payments_path %>
            <%= link_to "Edit Profile", edit_user_path(:current) %>
            <%= link_to "Logout", logout_path %>
          <% else %>
            <%= link_to "Login", login_path %>/<%= link_to "Register", new_user_path  %>
          <% end %>
        </div>
        <%= link_to 'Home', users_path %>
        <%= link_to 'Properties', properties_path %>
        <%= link_to 'Units', units_path %>
        <%= link_to 'Leases', leases_path %>
        <%= link_to 'Repair Requests', repair_requests_path %>

      </div>
      <!-- End Navigation -->

      <!-- Begin Left Column -->
      <div id="mainbody">
        <div id="leftcolumnall">
          <% if flash[:error] -%>
            <div id="error"><%=h flash[:error] %></div>
          <% end -%>
          <% if flash[:notice] -%>
            <div id="notice"><%=h flash[:notice] %></div>
          <% end -%>
          <%= yield %>
          <br /><br /><br /><br /><br /><br /><br />
    	  </div>
      </div>
      <!-- End Left Column -->

      <!-- Begin Footer -->
      <div id="footer">

        Michael's Properties &copy; 2013

      </div>
      <!-- End Footer -->

    </div>
    <!-- End Wrapper -->

  </body>
</html>
